*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: "Century Gothic";
}

nav{
    padding: 20px 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw; height: 10vh;
}

.logo{
    font-family: "Century Gothic";
    color: rgb(0, 0, 0);
}

.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{ margin-left: 30px; }

.nav-list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 12px;
    color: rgb(0, 0, 0);
}

#hamburger-toggle{ display: none; }

.hamburger{
    width: 30px; height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.hamburger .bar{
    display: inline-block;
    width: 30px; height: 2px ;
    background-color: rgb(0, 0, 0);
    position: relative;
    transition: all 0.3s;
}

.hamburger .bar::before, .hamburger .bar::after{
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.hamburger .bar::before{ transform: translateY(-10px); }

.hamburger .bar::after{ transform: translateY(10px); }

@media (max-width:600px){

    .nav-list{
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .nav-list li{ margin: 10px 0; }

.nav-list li a{
      display: inline-block;
      font-size: 20px;
      padding: 15px 20px;
      transition: all 0.3s;
}

.nav-list li a:hover{
      background-color: rgb(0, 0, 0);
      color: #ffffff;
      transform: translateY(-10px);
}

.hamburger{
      display: flex;
      z-index: 999;
}

#hamburger-toggle:checked ~ .nav-list{ transform: none; }

#hamburger-toggle:checked ~ .hamburger .bar::before{ transform: rotate(45deg); }

#hamburger-toggle:checked ~ .hamburger .bar{ background-color: transparent; }

#hamburger-toggle:checked ~ .hamburger .bar::after{ transform: rotate(-45deg); }

}  /* MEDIA QUERY END */















.social-media{
	display: inline-flex;
    justify-content: center;
	align-items: center;
	width: 60px; height: 60px;
	border-radius: 50%;
	border:2px solid;
	text-decoration: none;
	margin: 0 25px;
	position: relative;
    overflow: hidden;
    color: #fff;
}

.social-media i{
	font-size: 25px;
	color: #fff;
}























section{ padding: 20px 0; }

.container{
	width: 90%;
	margin: 0 auto;
	max-width: 1440px;
}

.container img{
	display: block;
	margin: 0 auto;
	width: 150px;
}

.dej-gallery{
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 'item1 item1 item2 item3'
						 'item4 item4 item2 item5'
						 'item4 item4 item2 item6';
	grid-gap: 10px;
}

.item{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 15rem;
}

.item1{
	grid-area: item1;
	background-image: url('character1.jpg');
}

.item2{
	grid-area: item2;
	background-image: url("character2.jpg");
}

.item3{
	grid-area: item3;
	background-image: url('character3.jpg');
}

.item4{
	grid-area: item4;
	background-image: url("character4.jpg");
}

.item5{
	grid-area: item5;
	background-image: url('character5.jpg');
}

.item6{
	grid-area: item6;
	background-image: url('character6.jpg');
}


@media (max-width:768px){
	.dej-gallery{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 'item1 item1 item2'
							 'item3 item4 item2'
							 'item5 item6 item2';
	}
}

@media (max-width:576px){
	.dej-gallery{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'item1 item3'
							 'item2 item4'
							 'item2 item5'
							 'item2 item6';
	}
}

@media (max-width:360px){
	.container img{ width: 100px; }

	.dej-gallery{
		grid-template-columns: 1fr;
		grid-template-areas: 'item1' 
							 'item2' 
							 'item3'
							 'item4' 
							 'item5' 
							 'item6';
	}
	
	.item2{ background-position: top; }
}




#dej{
    background-size: cover;
    background-image: url(dej.jpg);
    height: 100vh;
    padding: 10px 10px;
}
.about{
    width: 40vw;
    background-color: rgba(121, 78, 37, 0.39);
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
}
.about button{
    width: 130px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    background-color: rgba(34, 32, 32, 0.432);
    cursor: pointer;
    color: #fff;
}
.about button:hover{
    background-color: #ffffff73;
    color: black;
}
#port{
    text-align: center;
    font-size: 3rem;
}
#cont{
    font-size: 2rem;
}
#sect1 a{
text-decoration: none;
color: #fff;


}
#footer{
    justify-content: center;
    padding-left: 70px;
}
#copy{
    text-align: center;
    color: darkgrey;
    font-size: 1rem;
}
#copy a{
    text-decoration: none;
    color: #fff;
}







.main{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
    width: 500px;
    font-size: 4rem;
    font-family: "Century Gothic";
    justify-content: center;
    padding-left: 70px;
}
.typed-cursor {
    display: none;
}           
